@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-buttons {
  margin: 0px 0px 5px 5px;
  margin: 30px 0px;
  display: flex; /**/
  justify-content: center; /*ALINHAMENTO NA ORIZONTAL*/
  align-items: center; /*ALINHAMENTO VERTICAL*/
  gap: 70px; /*CRIAR ESPAÇO ENTRE OS ITENS*/
  /*ESSE ALINHAMENTO SÓ FUNCIONARA SE O DISPLAY ESTIVER FLEX*/
}

button {
  width: 110px;
  height: 51px;
  background-color: #e4b9c0; /*COR*/
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-weight: 150px;
}

button:hover {
    opacity: 0.8;

}

ul {
  list-style: none;
  display: grid; /*CONSEGUIMOS DEFINIR QUANTAS LINHAS E COLUNAS*/
  grid-template-columns: 400px 400px 400px 400px;
  gap: 100px;
  justify-content: center; /*ALINHAMENTO NA ORIZONTAL*/
}

li {
 background-color: #665ae1; /*ALTERAR COR E MODELO DE NICHO DOS PRODUTOS*/

}

.infor-product {  /*NÃO CONSEGUIR COLOCAR COR NUMA DIV QUE CRIEI DENTRO DA LISTA*/
  border: 5px solid #ca9230;
  width: 405px;
  height: 500px;
  padding: 10px;
}

img {
  width: 200px;
  border-radius: 10px;
  padding: 5px

}

.item-price {
  font-weight: bold;
  color: #c9599a;
  padding: 5px;
}

header {
  text-align: center;
  padding: 35px;
  display:inline-block;
  background: #e4b9c0;
  margin-inline: 20px;
  color: #e4b9c0; text-shadow: 1px 1px 0 #fff;
}

.link-header {
  font-weight: 500;
  font-size: 54px;
  line-height: 59px;
  color: #66512c;
  cursor: pointer;
  margin-right: 23px;
  margin-inline: 50px;
  text-align: justify;
}

.button-header {
  background: #665ae1;
  border-radius: 20.5px;
  width: 230px;
  height: 71px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  cursor: pointer;
  font-size: 45px;
}

.logo-image {
  width: 368px;
  height: 380px;
  margin-left: 125px;
  display: inline-block;
}

section {
  display: inline-block;
  margin: 195px 0px 35px 86px;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 122px;
  color: #515151;
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #515151;
}

.text-product {
  font-weight: 100;
  font-size: 44px;
  color: #e4b9c0
}

p {
  font-weight: 100;
  font-size: 44px;
  line-height: 69px;
  color: #848484;
  width: 915px;
  margin-top: 32px;
  margin-bottom: 65px;
}

.informes {
  font-weight: 400;
  font-size: 74px;
  line-height: 69px;
  color: #848484;
  width: 1115px;
  margin-top: 32px;
  margin-bottom: 65px;
}

.button-main {
  background: #c9599a;
  border-radius: 30px;
  width: 239px;
  height: 64px;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 28px;
  font-weight: 34px;
  color: #000000;
}

@media screen and (max-width: 800px) {
  .div {
    width: 390px;
    height: 342px;
    display: block;
  }

  h1 {
    text-align: center;
  }
  .link-header {
    display: none;
  }

  img {
    position: static;
  }
}

body {
    margin: 200px 200px;
}
