@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fundo-site {
  width: 4498px;
}
/* BOTÃO WHATSSUP DESATIVADO -----
.button-main {
  background: #c9599a;
  border-radius: 50px;
  width: 539px;
  height: 304px;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 700;
  font-size: 98px;
  font-weight: 34px;
  color: #000000;
}
*/


/*Colocar esse button typo flutuante span*/
.button-header {
  background: #665ae1;
  border-radius: 20.5px;
  width: 430px;
  height: 111px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  cursor: pointer;
  font-size: 45px;
}

.container-buttons {
  margin: 30px 0px;
  display: flex; /**/
  justify-content: center; /*ALINHAMENTO NA ORIZONTAL*/
  align-items: center; /*ALINHAMENTO VERTICAL*/
  gap: 70px; /*CRIAR ESPAÇO ENTRE OS ITENS*/
  /*ESSE ALINHAMENTO SÓ FUNCIONARA SE O DISPLAY ESTIVER FLEX*/

  font-size: 41px;
  background-color: #d987fa;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-weight: 150px;
  
}

/*
button {
  width: 410px;
  height: 201px;
  font-size: 41px;
  background-color: #e4b9c0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  font-weight: 150px;
}*/

button:hover {
    opacity: 0.8;

}

ul {
  list-style: none;
  display: grid; /*CONSEGUIMOS DEFINIR QUANTAS LINHAS E COLUNAS*/
  grid-template-columns: 400px 400px 400px 400px 400px;
  gap: 200px;
  justify-content: center; /*ALINHAMENTO NA ORIZONTAL*/
}

li {
 border: 5px solid #8133ff; /*ALTERAR COR E MODELO DE NICHO DOS PRODUTOS*/
 border-radius: 20px;
 height: 700px;
}

.item-info {
  position: relative;
    padding: 5px 10px 10px 10px;
    text-align: center;
}

.infor-product {  /*NÃO CONSEGUIR COLOCAR COR NUMA DIV QUE CRIEI DENTRO DA LISTA*/
  width: 405px;
  height: 500px;
  padding: 10px;
}

.item-price {
  font-weight: bold;
  color: #c9599a;
  padding: 5px;
}

.img-product {
  width: 390px;
  border-radius: 20px;
  padding: 5px;
}

main {
  position: relative;
  background-color:  #C71585;
  display: inline-table;
  width: 4498px;
  height: 600px;
  padding: 90px;
  border-radius: 35px;
}

.btn-whatsapp {
  position:absolute;
  outline: none;
  bottom: 250px;
  right: 350px;
  border-radius: 50%;
  height: 105px;
  width: 105px;
  cursor: pointer;
  background: #34af23;
  color: #fff;
  font-size: 2.3rem;
  border: 1px solid #f1f1f1;

  /*animation-name: pulsar;*/                 /*SEQUENCIAS DE PASSOS DA ANIMAÇÃO*/
  /*animation-duration: 0.8s;*/               /*DURAÇÃO DA ANIMAÇÃO*/
  /*animation-timing-function: ease-out;*/    /*VELOCIDADE DA ANIMAÇÃO*/
  /*animation-delay: 1s;*/                    /*DEMORA PARA INICIAR*/
  /*animation-iteration-count: infinite;*/    /*NUMERO DE VEZES QUE VAI ACONTECER*/
  /*animation-direction: alternate;*/         /*VAI COMEÇA PRIMEIRO PARA FRENTE*/
  /*animation-fill-mode: none;*/
  /*animation-play-state: running;*/          /*ASSIM QUE INICIAR O HTML A ANIMAÇÃO VAI INICIAR*/

  /*CODIGO DE ANIMAÇÃO RESUMIDA - AVALIAR O FUNCIONAMENTO*/
animation: pulsar 0.8s ease-out 1s infinite alternate none running;
}






@keyframes pulsar {
  0% {
    height: 45px;
    width: 45px;
  }
  100% {
    width: 85px;
    height: 85px;
  }
}

search-box-input {

}
/*Input cadastro*/

/*------------------------------------------------------------*/

section {
  display:inline-block;
  margin: 200px 0px 70px 300px;
  /*text-align: center; CENTRALIZAR UM OBJETO*/
}

header {
  width: 4500px;
  text-align: center;
  padding: 50px;
  margin-bottom: 15px;
  display: inline-flex;
  background: #FFB6C1;
  color: #e4b9c0; text-shadow: 1px 1px 0 #ffffff;
  border-radius: 35px;
}

.link-header {
  font-weight: 900;          /*ESPERSSURA DA FONTE*/
  font-size: 64px;          /*TAMANHO DA FONTE*/
  line-height: 59px;         /*ALTURA DA LINHA*/
  color: #ffffff;
  cursor: pointer;
  margin-right: 23px;
  margin-inline: 150px;         /*DISTANCIA ENTRE OS OBJETOS*/
  text-align: justify;
  text-decoration: none;         /*DECORAR TEXTO, ADICIONAR ITALICO NEGRITO E ETC*/
  color: #ffffff; text-shadow: 3px 1px 2px #a56973;
}

.logo-image {
  width: 368px;
  height: 380px;
  margin-left: 125px;
  display: inline-block;
}

h1 {
  font-weight: 900;
  font-size: 200px;
  line-height: 122px;
  color: #ffffff;
  text-shadow: 0.1em 0.0em #a56973; /*COLOCAR SOMBRA*/
  margin-bottom: 80px;
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
  color: #FFC0CB;
}

.informes {
  font-weight: 1100;
  font-size: 94px;
  line-height: 99px;
  color: #FFC0CB;
  width: 2115px;
  margin-bottom: 65px;
}

.text-product {
  font-weight: 100;
  font-size: 44px;
  color: #e4b9c0;
}

p {
  font-weight: 100;
  font-size: 44px;
  line-height: 69px;
  color: #848484;
  width: 915px;
  margin-top: 32px;
  margin-bottom: 65px;
}

footer {
  color: #66512c;
  width: 1939px; /*DIMENSÃO DO TEXTO*/
  height: 38px;
  margin: auto; /*POSICIONAMENTO PRO LADO DE FORA*/
  font-weight: 500; /*ESPESSURA DA FONTE*/
  font-size: 58px; /*TAMANHO DAS LETRAS*/
}

a {
  text-decoration: none;
}

/*--------slideres Anúncio----------------------------*/


.carrossel {
  filter: drop-shadow(0px 0px 10px #000);
  overflow: hidden;
  width: 4498px;
  height: 1000px;
}

.fundo-site{
  display:flex;
  transition: 0.7 ease-in-out;
  transform: translateX(0);
  transition: all 800ms;
}

.slider {
  width: 4500px;
  height: 1150px;
  border-radius: 65px;
}

/*--------------------------------------------------------*/


@media screen and (max-width: 800px) {
  .div {
    width: 390px;
    height: 342px;
    display: block;
  }

  h1 {
    text-align: center;
  }
  .link-header {
    display: none;
  }

 .img-logo-ly-lacos {
    position: static;
  }
}

body {
    margin: 200px 200px;
}
